* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .main_page {
    background-color: #000;
    height: 100vh;
  }
  
  header nav {
    background-color: #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2rem;
  }
  
  .logo img {
    width: 30px;
    margin-left: 2rem;
    cursor: pointer;
  }
  
  .logo p {
    color: #fff;
    font-size: 2rem;
    font-family: Brotherina;
    cursor: pointer;
  }
  
  .logo p,
  .logo input {
    display: inline-block;
    margin-left: 2rem;
  }
  
  .logo input {
    padding: 5px 5px 5px 30px;
    background-color: #fff;
    background-position: 8px;
    background-image: url("/images/SearchEmail.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 0.2rem;
  }
  
  .logo input:focus {
    background-color: #f5b53a;
    color: #fff;
  }
  
  header nav ul {
    list-style: none;
    margin-right: 6rem;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: "Myriad Pro";
    font-size: larger;
    padding-right: 2rem;
  }
  
  header nav ul li a:hover {
    color: #f5b53a;
    font-family: Brotherina;
  }
  
  #main_row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  #main_row .showcase2 h1 {
    font-size: 4rem;
    font-family: "Myriad Pro";
    color: #f5b53a;
    padding-top: 1rem;
  }
  
  #main_row .showcase2 p {
    font-family: "Myriad Pro";
    color: #fff;
  }
  
  #main_row .showcase2 button {
    font-family: "Myriad Pro";
    background-color: #fff;
    color: #f5b53a;
    padding: 1rem 2rem 1rem 2rem;
    font-weight: bolder;
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
  }
  
  #main_row .showcase2 button:hover {
    color: #fff;
    background-color: #f5b53a;
    transition: background-color 0.5s ease-in;
    cursor: pointer;
  }
  
  #main_row .showcase2 .message {
    display: inline;
  }
  
  #main_row .showcase2 .message img {
    width: 30px;
    margin-left: 2rem;
    vertical-align: middle;
    cursor: pointer;
  }
  
  #main_row .showcase2 .message span {
    margin-left: 1rem;
    cursor: pointer;
  }
  
  #main_row .showcase2 .message span:hover {
    color: #f5b53a;
  }